[submodule "Desktop/PLP/week3-db/Desktop/PLP/week3-db/week-3-assignment-Ibro27"]
	path = Desktop/PLP/week3-db/Desktop/PLP/week3-db/week-3-assignment-Ibro27
	url = https://github.com/PLP-Database-Design/week-3-assignment-Ibro27.git
